/* ==UserStyle==
@name           NYTGames_JF
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Snesh
@preprocessor	less
@var checkbox	grain "Grainy texture" 1
@var select		gradType    "Gradient style" ["animated:Animated*", "flouss: Static", "nouss:None"]
@var checkbox	grain "Grainy texture" 1
@var color   	gradcolor1 "Gradient Color 1" rgb(43, 1, 91)
@var color   	gradcolor2 "Gradient Color 2" rgb(122, 2, 54)
@var color   	gradcolor3 "Gradient Color 3" rgb(8, 19, 54)
@var color   	gradcolor4 "Gradient Color 4" rgb(26, 58, 102)
==/UserStyle== */

@-moz-document regexp("https://www\\.nytimes\\.com/(games.*|crosswords(/.*)?|puzzles(/.*)?)$") {

	/*ANCHOR [SNESHLIB - Start] */
	
	/*ANCHOR [VARIABLES]*/

	@hap				: url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
	@borderRadius		: 12px;
	@creamColor			: #d0b575;
	
	
	
	/*ANCHOR [DETACHED RULESETS] */
	
	@gradientBackground: {
		background: linear-gradient(109.6deg, @gradcolor3 0%, @gradcolor4 25%, @gradcolor1 50%, @gradcolor2 100%);
	}
	
	@buttons: {
		background-color: rgba(5, 5, 5, .18) !important;
		border-radius: 12px !important;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}
	
	@buttonsHover: {
		background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-4px);
	}
	
	@transparentButtons: {
		border-radius: 12px !important;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}
	
	@transparentButtonsHover: {
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		-webkit-backdrop-filter: blur(100px);
		backdrop-filter: blur(100px) saturate(110%);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-4px);
	}
	
	
	@buttonsHoverWhite: {
		background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(255, 255, 255, .37) !important;
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transform: translateY(-4px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform box-shadow 0.3s ease-in-out;
	}
	
	@menuItemHover: {
		border: 1px solid rgba(0, 204, 255, 0.6);
		background-color: rgba(5, 5, 5, 0.35) !important;
		box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
		transform: translateY(-2px);
		transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
		border-radius: 12px;
	}
	
	@grainyTexture: {
		content: "" !important;
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: none !important;
		z-index: 0 !important;
		background: url("https://grainy-gradients.vercel.app/noise.svg") repeat !important;
		opacity: 0.23 !important;
	}
	
	@backdrop: {
		background-color: rgba(5, 5, 5, .18) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}
	
	@disappear: {
		background: transparent !important;
		border: 0px;
		box-shadow: none;
	}
	
	@transparent: {
		background: transparent;
	}
	
	@noise: {
		content: "" !important;
		background: url("https://grainy-gradients.vercel.app/noise.svg") repeat !important;
		background-attachment: fixed;
		background-repeat    : no-repeat;
		background-size: cover;
		position: absolute;
        overflow: hidden;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: none !important;
		z-index: 0 !important;
		opacity: 0.23 !important;
	}

	/*ANCHOR [SNESHLIB - End]*/
	
	/*ANCHOR [Top bar] */
	
	/* Replaces with hap */ 
	
	#js-logo-nav {
		display: block;
		width: 150px;
		height: 35px;
		background-image: @hap;
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 20px;
	}

	.pz-nav__logo {
		display: none;
		/* Hides the original SVG */
	}


	/*ANCHOR [Gradient background options and grain] */

	body when (@gradType =flouss) {
		@gradientBackground();
	}


	body when (@gradType =animated) {
		@gradientBackground();
		background-size: 400% 400%;
		animation: gradientAnimation 20s ease infinite;
	}


	body when (@gradType =nouss) {
		background-color: @gradcolor3 !important;
	}
	
	

	@keyframes gradientAnimation {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}
	

	body::before when (@grain =1) {
		@noise();
	}
	
	/*ANCHOR [Transparenting shit] */

	.js-global-nav,
	.hub-welcome {
		background: transparent;
	}
	
	
	.pz {
		&-footer,
		&-nav,
		&-header,
		&-hide-loading,
		&-dont-touch,
		&-content,
		&-header.pz-hide-loading,
		&-game-field {
			@disappear();
		}
	}
	
	.hub-guide-promo-section,
	.printTool {
		display: none !important;
	}
	
	
	
	/*ANCHOR [Sidebar Styling] */
	
	
	.pz-nav-drawer__account {
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
		backdrop-filter: blur(15px) saturate(180%) contrast(90%);
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
		position: relative;
		top: 85px;

	}
	
	
	.pz-nav-drawer__link:hover {
		margin-left: 10px !important;
		transition: margin-left 0.2s ease;
		background-color: transparent;
	}
	
	.pz-nav-drawer__link.selected {
		background-color: transparent;
	}
	.connections-sports__container {
		display:none !important; 
	}
	
	
	/*ANCHOR [Main Page, games menu] */
	
	
	.hub-stats-card__puzzle-info,
	.featured,
	.hub-game-card {
		@backdrop();
		border: 0px;
		color: white;
	}
	
	.hub-game-card:hover:not(.hub-dual-link .hub-game-card__button:first-child):not(.hub-dual-link .hub-game-card__button:nth-child(2)) {
		@buttonsHoverWhite();
	}
	
	.hub-game-card__cover,
	.tab__tab {
		@disappear();
	}
	
	
	/* additional backdrop on game name */ 
	
	.strands .hub-game-card__cover,
	.spelling-bee .hub-game-card__cover,
	.wordle .hub-game-card__cover,
	.connections .hub-game-card__cover,
	.letter-boxed .hub-game-card__cover,
	.tiles .hub-game-card__cover,
	.sudoku .hub-game-card__cover,
	.puzzleInfo,
	.tab__tabNav {
		@backdrop();
		border: 0px !important;
	}
	
	.puzzleInfo .puzzleInfoContent,
	.progress__sectionHeader,
	.section__header {
		color: white;
	}

	.hub-stats-card__puzzle-info:hover,
	.featured:hover {
		@buttonsHoverWhite();
	}
	
	.tab__tab{
		color: white !important;
	}
	
	
	.tab__tabGroup .tab__tab>.active {
		@backdrop();
		color: transparent;
		border:2px;
	}

	.hub-game-card__button {
		@backdrop();
		border: 0px;
		color: white;
	}
	
	.pz-footer__wrapper {
		color: @creamColor !important;
	}
	
	.pz-footer__link {
		padding: 2px;
	}
	
	.hub-wordplay-link:hover,
	.hub-game-card__button:hover,
	.progress__playMoreLink:hover,
	.tab__tabGroup .tab__tab>.active:hover,
	.pz-footer__link:hover {
		@menuItemHover();
		
	}
	
	/*ANCHOR [Game page: WORDLE] */
	
	/* Home page */

	.Welcome-module_contentWelcome__TL17B when (@gradType =flouss) {
		@gradientBackground();
	}


	.Welcome-module_contentWelcome__TL17B when (@gradType =animated) {
		@gradientBackground();
		background-size: 400% 400%;
		animation: gradientAnimation 20s ease infinite;
	}


	.Welcome-module_contentWelcome__TL17B when (@gradType =nouss) {
		background-color: @gradcolor3 !important;
	}
	
	.Welcome-module_contentWelcome__TL17B::before when (@grain =1) {
		@noise();
	}
	
	.Welcome-module_button__ZG0Zh {
		@buttons();
	}
	.Welcome-module_button__ZG0Zh:hover {
		@buttonsHover();
	}
	
	.Welcome-module_contentWelcome__TL17B,
	.Modal-module_content__TrPIX,
	.Stats-module_graphContainer__Al4D1 .Stats-module_graph__f4tUv .Stats-module_numGuesses__jFa2m {
		color: @creamColor;
	}


	/* Wordle bot page */
	
	.game-icon[data-testid="icon-close"] {
		@buttons();
	}
	
	.game-icon[data-testid="icon-close"]:hover {
		@buttonsHover();
	}
	
	.Modal-module_content__TrPIX when (@gradType =flouss) {
		@gradientBackground();
	}


	.Modal-module_content__TrPIX when (@gradType =animated) {
		@gradientBackground();
		background-size: 400% 400%;
		animation: gradientAnimation 20s ease infinite;
	}


	.Modal-module_content__TrPIX when (@gradType =nouss) {
		background-color: @gradcolor3 !important;
	}
	
	.Modal-module_content__TrPIX::before when (@grain =1) {
		@noise();
	}
	
	.BotLink-module_botLink__uRdNy {
		@buttons();
		border: none;
	}
	
	.BotLink-module_botLink__uRdNy:hover {
		@buttonsHover();
	}
	
	.Footer-module_bottomSheet__XnX4f {
		@backdrop();
		margin-top: 20px;
	}
	
	.NextGameCTA-module_spellingBeeCard__FsAXc {
		display: none !important;
	}
	
	.NextGameCTA-module_wordleArchiveCard__foyIl {
		margin-top: 20px;
		padding: 30px;
		@buttons();
		background: #d0b575ab !important;
	}
	
	.NextGameCTA-module_wordleArchiveCard__foyIl:hover {
		margin-top: 20px;
		padding: 30px;
		@buttonsHover();
		background: #d0b575db !important;
	}
	
	.Footer-module_shareButton__cHprS {
		@transparentButtons();
	}
	
	.Footer-module_shareButton__cHprS:hover {
		@transparentButtonsHover();
		background: #77e36cdb !important;
	}
	
	/* Wordle archives */
	
	.ArchiveLayout-module_wrapper__agJhw {
		@backdrop();
	}
	
	/* Actual game page */
	
	.dark .Toolbar-module_wordle__CibUu {
		border: none;
	}


	.dark .ToolbarItem-module_toolbarColors__d6naZ, .dark .ToolbarItem-module_toolbar_item__xrBr_ {
		@disappear(); 
	}
	
	.ToolbarItem-module_toolbar_item__xrBr_ {
		@buttons();
		margin-top:30px;
		margin-left: 3px;
	}
	
	.pz-moment__close_text.Congrats-module_closeButton__KtTXC.slide-up {
		@buttons();
	}
	
	.ToolbarItem-module_toolbar_item__xrBr_:hover,
	.pz-moment__close_text.Congrats-module_closeButton__KtTXC.slide-up:hover {
		@buttonsHover();
	}
	
	.Tile-module_tile__UWEHN[data-state=empty],
	.Tile-module_tile__UWEHN[data-state=tbd] {
		border: 2px solid #6c583edb
	}
	
	.Tile-module_tile__UWEHN[data-state=tbd] {
		@backdrop();
	}
	
	.Tile-module_tile__UWEHN[data-state=empty]:hover,
	.Tile-module_tile__UWEHN[data-state=tbd]:hover {
		box-shadow: 0 0px 8px rgba(255, 197, 88, .37);
		transform: translateY(-1px);
	}
	
	.Key-module_key__kchQI:hover {
		box-shadow: 0 0px 8px rgba(0, 0, 0, .46);
		transform: translateY(-1px);
	}
	
	
	/*ANCHOR [Game page: CONNECTIONS] */
	
	.pz-moment {
		@disappear();
		color: @creamColor;
	}
	
	.pz-game-wrapper {
		@backdrop();
	}
	
	.pz-moment__button {
		@buttons();
	}
	
	.pz-moment__button:hover,
	.pz-moment__button:active {
		@buttonsHover();
	}
	
	.pz-game-toolbar,
	.pz-desktop .pz-moment__congrats,
	.Stats-module_stats__Oq7rS {
		@disappear();
	}
	
	.NextGameButton-module_nextGameCardContainer__VBiBH {
		display:none !important;
	}
	
	.Stat-module_stats__row__xnktL,
	.BotLinkCTA-module_botLink__QjG6_.BotLinkCTA-module_borderBottom__8BcQ3 {
    border-bottom: 1px solid @creamColor;
	border-top: 1px solid @creamColor;
	}
	
	.Stat-module_stats__row__xnktL, .BotLinkCTA-module_botLink__QjG6_.BotLinkCTA-module_borderBottom__8BcQ3 {
		border-bottom: 1px solid @creamColor;
		@buttons();
	}
	
	.Stat-module_stats__row__xnktL, .BotLinkCTA-module_botLink__QjG6_.BotLinkCTA-module_borderBottom__8BcQ3:hover,
	.button-primary.Congrats-module_button__HW5bZ:hover,
	.ActionButton-module_button__IlhXt.ActionButton-module_xLarge__zj7ZN:hover,
	.ActionButton-module_button__IlhXt:hover {
		@buttonsHover();
	}
		
	.button-primary.Congrats-module_button__HW5bZ,
	.ActionButton-module_button__IlhXt.ActionButton-module_xLarge__zj7ZN,
	.ActionButton-module_button__IlhXt {
		@buttons();
		border: none;
		color: @creamColor !important;
	}	
	
	.ActionButton-module_button__IlhXt:disabled {
		color: #8f8b81 !important;
	}
	
	.pz-section,
	.pz-game-wrapper,
	.ToolbarItem-module_toolbarColors__d6naZ, 
	.ToolbarItem-module_toolbar_item__xrBr_ {
		color: white !important;
	}
	
	.pz-game-field,
	.Mistakes-module_mistakesContent__nlijY {
		color: @creamColor;
	}
	
	
	.Card-module_label__U_Q2H.Card-module_selected__cN2eT {
		@backdrop();
	}
	
	.Card-module_label__U_Q2H,
	.Mistakes-module_bubble__nDlOh {
		background-color: @creamColor;
		color: #5c0f4a;
	}
	
	/* Connections Bot */ 
	
	.nytapp-vi-interactive.nytapp-vi-interactive-minimal,
	.page-0.fides-overlay-modal-link-shown.tap,
	.interactive,
	.interactive-minimal.meteredContent.interactive-content.interactive-size-medium.css-1n5umza {
		background-color: red !important;
	}
	.header-container.svelte-armixu.svelte-armixu,
	.bot-wrapper.svelte-14ye05.svelte-14ye05 {
		background-color: transparent !important;
	}
	
	
	/*ANCHOR [Game page: STRANDS] */
	
	
	._momentWrapper_n2itn_1 {
		@backdrop();
		color: @creamColor;
	}
	
	._momentTitle_xfg9t_1 {
		color: @creamColor;
	}
	
	._momentButton_m3x3m_1._primary_m3x3m_113._default_m3x3m_1,
	.ToolbarButton-module_button__Y5yUu,
	.styles-module_resultsButton__srg7k,
	.hint-module_lightbulb__YfeFm,
	.hint-module_bluebulb__QtJ5d,
	.hint-module_overlay___9ixH {
		@buttons();
		border: none;
		color: @creamColor !important;
	}	
	
	._momentButton_m3x3m_1._primary_m3x3m_113._default_m3x3m_1:hover,
	.ToolbarButton-module_button__Y5yUu:hover,
	.styles-module_resultsButton__srg7k:hover,
	.hint-module_lightbulb__YfeFm:hover,
	.hint-module_bluebulb__QtJ5d:hover,
	.hint-module_overlay___9ixH:hover {
		@buttonsHover();
		color: @creamColor;
		border: none;
	}	
	
	.ToolbarButton-module_button__Y5yUu {
		margin-left: 2px;
	}
	.strands__modal {
		@backdrop();
		background-color: rgba(1, 27, 67, .92) !important;
		color: @creamColor;
	}
	
	
	button.button-dark-mode-support,
	.xwd__modal--close {
		@buttons();
		border: none;
		color: @creamColor !important;
		padding:15px !important;
	}
	
	button.button-dark-mode-support:hover,
	.xwd__modal--close:hover {
		@buttonsHover();
		border: none;
		color: @creamColor !important;
	}	
	
	.riddle-module_label__OY9sx {
		@backdrop();
	}
	
	.riddle-module_riddle__w8JzO {
		border: 1px solid @creamColor;
	}
	
	.styles-module_wrapper__A7No7.styles-module_disabled__iIL5I,
	.styles-module_wrapper__A7No7 {
		border: 1px solid @creamColor;
		border-radius: @borderRadius;
	}
	
	/* letters in strands*/ 
	
	.styles-module_word__LwKKp.styles-module_invalidshake__KMQkk,
	.styles-module_strandsBtn__xobCT {
		color: @creamColor !important;
	}
	
	.styles-module_strandsBtn__xobCT.styles-module_item__ZXXc7[style="background-color: var(--yellow);"] {
		color: black !important;
	}
	
	.styles-module_strandsBtn__xobCT.styles-module_item__ZXXc7[style="background-color: var(--blue);"] {
		color: black !important;
	}
	
	
	
	/*ANCHOR [Game page: THE MINI ] */
	.xwd__modal--body {
		@backdrop()
	}
	
	.xwd__modal--body {
		background-color: rgba(1, 27, 67, .92) !important;
	}
	
	.xwd__modal--overlay,
	.xwd__modal--content,
	.xwd__toolbar--wrapper {
		@disappear();
		
	}
	.xwd__tool--button button {
		@buttons();
		border: none;
		color: @creamColor !important;
		margin-left:3px;
	}
	
	.xwd__tool--button button:hover {
		@buttonsHover();
		border: none;
		color: @creamColor !important;
	}	
	
	.xwd__clue-bar-desktop--bar,
	.xwd__clue--li.xwd__clue--selected {
		@backdrop();
		color: @creamColor !important;
	}
	
	.xwd__clue--highlighted {
		border-left-color:rgba(5, 5, 5, .18) !important;
	}
	
	.mini__congrats-modal--content {
		color: @creamColor !important;
	}
	
	.xwd__toolbar_icon--pencil:hover,
	.xwd__toolbar_icon--settings-gear:hover {
		background-color: transparent !important;
	}
	
	/*ANCHOR [Game page: THE CROSSWORD ] */
	
	.xwd__printtools--button {
		display: none !important;
	}
	
	/*ANCHOR [Game page: SUDOKU ] */
	.su-cell:hover {
		transform: translateY(-1px);
		box-shadow: inset 0 0 6px 1px @creamColor;
	}
	
	.pz-modal__button.dark.large,
	.su-keyboard__mode.normal.normalMode, 
	.su-keyboard__mode.candidate, 
	.su-keyboard__mode.candidate.candidateMode,
	.su-keyboard__mode.normal,
	.su-back__text-container,
	.pz-toolbar-button.su-app__print,
	.pz-toolbar-button.su-app__howto,
	.pz-dropdown__button,
	.pz-toolbar-button.su-app__settings {
		@buttons();
		border: none !important;
		color: @creamColor !important;
	}
	
	.pz-modal__button.dark.large:hover,
	.su-keyboard__mode.normal.normalMode:hover, 
	.su-keyboard__mode.candidate:hover, 
	.su-keyboard__mode.candidate.candidateMode:hover,
	.su-keyboard__mode.normal:hover,
	.su-back__text-container:hover
	.pz-toolbar-button.su-app__print:hover,
	.pz-toolbar-button.su-app__howto:hover,
	.pz-dropdown__button:hover,
	.pz-toolbar-button.su-app__settings:hover,
	.pz-dropdown__menu-item:hover{
		@buttonsHover();
		color: @creamColor !important;
	}
	
	.su-timer {
		@buttons();
		padding: 10px;
	}
	
	.su-timer:hover {
		@buttonsHover();
		padding: 10px;
	}
	
	.su-cell.selected {
		background-color: @creamColor;
	}
	
	.pz-dropdown__list {
		@backdrop();
	}
	
	.su-toolbar .pz-dropdown__menu-item button {
		border: none !important;
	}
	
	.su-level,
	.su-timer,
	.su-back__text{
		color: @creamColor !important;
	}
	
	/*ANCHOR [Game page: SPELLING BEE ] */
	
	.pz-moment__welcome *,
	.pz-toolbar-button {
		color: @creamColor !important;
	}
	
	.hive-action.hive-action__delete.sb-touch-button,
	.hive-action.hive-action__shuffle.sb-touch-button,
	.hive-action.hive-action__submit.sb-touch-button,
	.pz-dropdown__button,
	.pz-toolbar-button {
		@buttons();
		border: none !important;
		color: @creamColor !important;
	}
	
	.hive-action.hive-action__delete.sb-touch-button:hover,
	.hive-action.hive-action__shuffle.sb-touch-button:hover,
	.hive-action.hive-action__submit.sb-touch-button:hover,
	.pz-toolbar-button:hover {
		@buttonsHover();
		color: @creamColor !important;
	}
	
	.pz-dropdown__menu-item,
	.pz-dropdown>.pz-dropdown__button:not(.pz-dropdown__show) {
		@disappear();
		border: none !important;
	}
	
	/*ANCHOR [Game page: LETTER BOXED ] */
	
	.lb-content-box{
		@backdrop();
	}
	
	.lb-button {
		@buttons();
		border: none !important;
		color: @creamColor !important;
	}
	
	.lb-button:hover {
		@buttonsHover();
		color: @creamColor !important;
	}
	
	/*ANCHOR [Game page: TILES ] */
	
	
	
	.conversion-tls-content-box{
		@backdrop();
	}
	
	
}